<div class="article-details">
    {{ if .Params.categories }}
    <header class="article-category">
        {{ range (.GetTerms "categories") }}
        <a href="{{ .RelPermalink }}" style="background-color: #8ea885!Important; color:;">
            {{ .LinkTitle }}
            
        </a>
    {{ end }}    
        {{ range (.GetTerms "tags") }}
            <a href="{{ .RelPermalink }}" {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }}>
                {{ .LinkTitle }}
                
            </a>
        {{ end }}   

    </header>
    {{ end }}

    <div class="article-title-wrapper">
        <h2 class="article-title">
            <a href="{{ .RelPermalink }}">
                {{- .Title -}}
            </a>
        </h2>

        
        
        <style type="text/css">
            .tg  {border-collapse:collapse;border-spacing:0;}
            .tg td{font-family:Arial, sans-serif;font-size:24px;padding:10px 5px;border-style:none;border-width:1px;overflow:hidden;word-break:normal;text-align: center;}
            .tg th{font-family:Arial, sans-serif;font-size:4px;font-weight:normal;padding:10px 5px;border-style:none;border-width:1px;overflow:hidden;word-break:normal;text-align: center;}
            </style>
            <br>
            
            <div class="flex-container">
                <div class="flex-items"> <a href="{{ .Params.maps }}">{{ .Params.adresse }}</a></div>
                <div class="flex-items"> <a href="{{ .Params.maps }}">{{ .Params.plz }} {{ .Params.ort }}</a></div>
                <br>
                <div class="flex-items"><a href="tel: {{ .Params.tel }}">{{ .Params.tel }}</a></div>
                <br>
                <div class="flex-items"><a href="{{ .Params.website }}">{{ .Params.website }}</a></div>
             </div>
    </div>

    {{ $showReadingTime := .Params.readingTime | default (.Site.Params.article.readingTime) }}
    {{ $showDate := not .Date.IsZero }}
    {{ $showFooter := or $showDate $showReadingTime }}
    {{ if $showFooter }}
    <footer class="article-time">
        {{ if $showDate }}

        {{ end }}

        {{ if $showReadingTime }}

        {{ end }}
    </footer>
    {{ end }}
     
</div>
